@import url("../webfonts/Univers_Next/stylesheet.css");
@import url("../webfonts/cursive/stylesheet.css");

body {
    font-family: 'Univers Next'sans-serif;
    background-color: #FFFFFF;
    margin-top: 19px;
    color: rgba(10, 7, 7, 0.9);
}

.navbar {
    background-color: #7AB800;
    text-color: #228B22
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #7AB800;
}

.h1{
    color: #7AB800;
    
}

.h2{
    color: #5A9331;
    font-size: large;
    
}



.b{
    font: "Univers Next";
    background-color: #228B22;
    shape-outside: ellipse();
    color: #7AB800;
    padding: 0;
    border: none;
    background: none;
}

.navbar .nav-link:hover {
    color: #4A8E28;
    font-family: "gelato-luxe", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px #228B3D;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    position: relative;
    padding: 1rem;
}

.card-title {
    color: #7AB800;
}

.card-header {
    background-color: #0f5a0f;
    color: #fff;
}

.list-group-item {
    background-color: rgba(8, 8, 8, 0.7);
}

.list-group-item:hover {
    background-color: rgba(10, 7, 7, 0.9);
}

.btn-primary {
    background-color: #1d641d;
    border-color: #228b22;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #196619;
    border-color: #196619;
}

footer {
    background-color: #003300;
    color:  #003300;
    margin-top: 20px;
}
.hidden {
    display: none;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #228b22;
}
.container .row .col-md-8 .card.mb-4 .card-body .card-title {
    color: #000000;
}
.container .row .col-md-8 .card.mb-4 .card-body .card-title {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    color: #7AB800;
    font-family: "Univers Next";
    font-style: normal;
    font-variant: normal;

}
